{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<h3>
    Estimator's payment
</h3>
<p>
    The estimator will be rewarded for the accuracy of his or her estimate of the correct number of solid
    dots in the 30x30 grid that you see.
</p>
<p>
    <strong>If the estimator's estimate is within 10 dots of the correct number</strong>, the estimator will
    receive a bonus of {{ Constants.estimator_bonus_within_0_and_10 }}
</p>

<p>
    <strong>
        The estimator will receive a smaller bonus the further his or her estimate is from the correct number.
    </strong>
</p>
<p>
    <strong>If the estimator's estimate is off by more than 40</strong>, he or she will receive no bonus.
</p>
<h3>
    Your payment
</h3>
<p>
    As the advisor, you will receive a bonus <strong>if the
    estimator provides an estimate
    that is greater
    than the correct value.</strong>
</p>

<p>
    <strong>
        You will receive a bigger bonus the further his or her estimate is from the correct number.
    </strong>
</p>
<p>
    You will receive a {{ Constants.advisor_bonus_greater_than_40 }} bonus <strong>if the estimator
    provides an estimate that is more than 40
    dots or more over
    the correct value</strong>.
</p>
<p>
    For example, suppose the correct number of solid dots were <strong>450</strong>. The compensation scheme would be as
    follows:
</p>


<!--New Payoffs-->

<table style="width:100%; border: 1px solid #CCC;
    border-collapse: collapse;" margin="20px">
    <tr>
        <td>If the estimator guesses...</td>
        <td>the estimator will be paid a bonus of...</td>
        <td>you, the advisor, will be paid a bonus of...</td>
    </tr>
    <tr>
        <th>Less than 410 (Less than -40)</th>
        <td style="border: none;">Nothing</td>
        <td>Nothing</td>
    </tr>
    <tr>
        <th>410-419 (Within -40 and -31)</th>
        <td bgcolor="#B1D677" style="border: none;"><b>{{ Constants.estimator_bonus_within_neg_40_and_31 }}</b></td>
        <td>Nothing</td>
    </tr>

    <tr>
        <th>420-429 (Within -30 and -21)</th>
        <td bgcolor="#93C94D" style="border: none;"><b>{{ Constants.estimator_bonus_within_neg_30_and_21 }}</b></td>
        <td>Nothing</td>
    </tr>

    <tr>
        <th>430-439 (Within -20 and -11)</th>
        <td bgcolor="#7CB72B" style="border: none;"><b>{{ Constants.estimator_bonus_within_neg_20_and_11 }}</b></td>
        <td>Nothing</td>
    </tr>

    <tr>
        <th>440-449 (Within -10 and -1)</th>
        <td bgcolor="#6AA629" style="border: none;"><b>{{ Constants.estimator_bonus_within_neg_10_and_1 }}</b></td>
        <td style="border: none;">Nothing</td>
    </tr>

    <tr>
        <th>450-460 (Within 0 and +10)</th>
        <td bgcolor="#6AA629" style="border: none;"><b>{{ Constants.estimator_bonus_within_0_and_10 }}</b></td>
        <td bgcolor="#CBE4A4" style="border: none;"><b>{{ Constants.advisor_bonus_within_0_and_10 }}</b></td>
    </tr>

    <tr>
        <th>461-470 (Within +11 and +20)</th>
        <td bgcolor="#7CB72B" style="border: none;"><b>{{ Constants.estimator_bonus_within_11_and_21 }}</b></td>
        <td bgcolor="#B1D677" style="border: none;"><b>{{ Constants.advisor_bonus_within_11_and_21 }}</b></td>
    </tr>

    <tr>
        <th>471-480 (Within +21 and +30)</th>
        <td bgcolor="#93C94D" style="border: none;"><b>{{ Constants.estimator_bonus_within_21_and_30 }}</b></td>
        <td bgcolor="#93C94D" style="border: none;"><b>{{ Constants.advisor_bonus_within_21_and_30 }}</b></td>
    </tr>

    <tr>
        <th>481-490 (Within +31 and +40)</th>
        <td bgcolor="#B1D677" style="border: none;"><b>{{ Constants.estimator_bonus_within_31_and_40 }}</b></td>
        <td bgcolor="#7CB72B" style="border: none;"><b>{{ Constants.advisor_bonus_within_31_and_40 }}</b></td>
    </tr>

    <tr>
        <th>Greater than 491 (Greater than +40)</th>
        <td style="border: none;">Nothing</td>
        <td bgcolor="#6AA629" style="border: none;"><b>{{ Constants.advisor_bonus_greater_than_40 }}</b></td>
    </tr>


</table><br/>


{% next_button %}

{% endblock %}
