{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>{{ header }}</h3>

{% if player.role == 'estimator' %}
    {% if player.appealed == True %}
        {% formfield player.estimator_appeal_question label="Please explain why you decided to file an appeal" %}
    {% else %}
        {% formfield player.estimator_appeal_question label="Please explain why you decided to not file an appeal" %}
{% else %}
    {% if player.appeal_granted == True %}
      

<hr />

{% next_button %}

{% endblock %}