<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3>
                Communication Form
            </h3>

            {% comment %} Small Grid {% endcomment %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-center pb-4">
                        {% if type == "example" %}
                        <img src="/static/{{ group.example_small_grid_path }}" />
                        {% else %}
                        <img src="/static/{{ group.small_grid_path }}" />
                        {% endif %}
                    </div>
                </div>
            </div>

            </br>


            <p><strong>
                I, your adviser, recommend that the number of solid dots on the 30x30 grid is:
            </strong></p>

            {% if player.disclosure == True or disclosure == True %}

            <p><strong>Important Disclosure: </strong>I, your adviser, will get a bonus if you <i> overestimate </i>the true number of solid dots. </p>

            <p>So, it is in my interest that you estimate a high number of dots. </p> 

            {% endif %}

            {% comment %} {% formfield player.recommendation %} {% endcomment %}

        </div>
    </div>
</div>