{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

{% comment %}
{% if player.role == 'advisor' %}
<p>You will give the estimator advice using an online communication form, like the one shown below</p>

{% elif player.role == 'estimator' %}
<p>The adviser will give you advice using an online communication form, like the one shown below</p>

{% endif %}
{% endcomment %}

{% include "./CommunicationFormTemplate.html" with player=player group=group %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            {% formfield player.recommendation %}
        </div>
    </div>
</div>

{% next_button %}

{% endblock %}