{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}


<h3>Additional Bonus</h3>
<p>
    We now have some additional information for you.
</p>
<p>
    <strong>You and the advisor are both going to receive additional bonuses for participating.</strong> There is
    <strong>{{ Constants.appeal_reward }}</strong> to be split evenly between yourself and the advisor, for
    <strong>{{ Constants.appeal_reward_split }}</strong> apiece.
</p>

<h3>Opportunity to send your case to a Third-Party judge</h3>
<p>
    You now have the opportunity to <strong>send your case to a third-party judge</strong>, who will review what
    happened to you in the dots estimation task. If you choose this option, the judge will determine whether you
    were treated unfairly by your advisor in the dots-estimation task.
</p>

<p>It will cost you <strong>{{ Constants.appeal_cost }}</strong> to send your case to the judge. You will pay this fee
    <strong>regardless
        of whether or not you win</strong>
</p>

<h3>How judge will decide your case</h3>
<p>
    If you choose to send your case, the judge will see that your advisor told you there were
    <strong>{{ player.get_recommendation }}</strong> dots and
    that you <strong>were {% if player.disclosure == False %}NOT {% endif %}informed</strong> that your advisor stood to
    benefit financially if you overestimated.
</p>
<p>
    The judge will know that the correct number of dots is <strong>{{ player.get_correct_answer }}</strong>. The judge
    will also see that
    you estimated there were <strong>{{ player.get_estimate }}</strong> dots. The judge will see how much both you and
    your advisor earned.
</p>
<p><strong>
        The judge will then make a decision about whether you are entitled to 100% of the
        {{ Constants.appeal_reward }} bonus or whether it should be split evenly between you and your advisor.
    </strong></p>

<hr />

<p>
    <strong>If you send the case and the judge decides you were treated unfairly</strong>, you will pay
    <strong>{{ Constants.appeal_cost }}</strong> and receive <strong>{{ Constants.appeal_reward }}</strong>, while your
    advisor will receive no bonus.
</p>
<p>
    <strong>If you send the case and the judge decides you were treated fairly</strong>, you will pay
    <strong>{{ Constants.appeal_cost }}</strong>. Both you and your advisor will receive
    <strong>{{ Constants.appeal_reward_split }}</strong>.
</p>
<p>
    <strong>If you decide not to send the case</strong> you and your advisor will each receive
    <strong>{{ Constants.appeal_reward_split }}</strong>.
</p>

<hr />


<hr />
<h3>Your Decision</h3>

{% formfield player.appealed %}

{% next_button %}

{% endblock %}