{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<h3>Your Payment</h3>
<p>
    In the dots-estimation task, you will be rewarded for the accuracy of your estimate.
</p>
<p>
    <strong>If your estimate is within 10 dots of the correct number</strong>, you will receive a
    {{ Constants.estimator_bonus_within_0_and_10 }} bonus.
</p>
</p>
<p>
    <strong>If your estimate is within 40 dots of the correct number </strong>, you will receive a
    {{ Constants.estimator_bonus_within_11_and_40 }} bonus.
</p>
<p>
    <strong>If your estimate is off by more than 40</strong>, you will receive no bonus.
</p>
<p>
    <strong>You will receive a smaller bonus the further your estimate is from the correct number.</strong>
</p>
<hr />

<h3>Example</h3>
<p>
    For example, suppose the correct number of solid dots were <strong>450</strong>, the compensation scheme would be as
    follows:
</p>

{% include "./PaymentsTable.html" with answer=450 role=player.role %}


<br />
<hr />


{% comment %} Manipulation Checks specific to Estimators {% endcomment %}
{% comment %} Not letting player advance unless these are answered as True {% endcomment %}
<p>To ensure that you understand the instructions, please answer the following question:</p>
{% formfield player.manip_est_estimator_payment_question %}

<hr />

{% next_button %}

{% endblock %}