{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<h3>Your Payment</h3>
<p>
    <strong>You will be rewarded for the accuracy of your estimate of the correct number of solid dots in the 30x30 grid. </strong>
</p>
<p>
    You will receive a {{ Constants.estimator_bonus_within_neg_10_and_10 }} bonus if your estimate is within 10 dots of the correct number (either higher or lower).
</p>
</p>
<p>
 You will receive a {{ Constants.estimator_bonus_within_10_and_40 }} bonus if your estimate is within 40 dots of the correct number (either higher or lower, but not within 10 dots).
</p>
<p>
You will receive no bonus if your estimate is off by more than 40.
</p>

<hr />

<h3>Example</h3>
<div class="container-fluid">
    <div class="row">
      <div class="col text-center pb-4">
        <img style="width: 96%; height: 96%;" src="/static/study/estimator_payoff.png"  />
      </div>
    </div>
  </div>
<br />
<hr />


{% comment %} Manipulation Checks specific to Estimators {% endcomment %}
{% comment %} Not letting player advance unless these are answered as True {% endcomment %}
<p><strong>To ensure that you understand the instructions, please answer the following question:</strong></p>

{% formfields %}

{% next_button %}

{% endblock %}