{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Your Payment</h3>


<p>Your adviser advised you that there were <strong>{{ player.get_recommendation }}</strong> solid dots.</p>

<p>
    You guessed that there were <strong>{{ player.get_estimate }}</strong> solid dots.
</p>
<p>
    The correct number was <strong>{{ player.get_correct_answer }}</strong>. The full grid is shown below:
</p>

<!-- Actual Grid -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="/static/{{ group.grid_path }}" />
        </div>
    </div>
</div>

<hr />


<p>As a result, you earned a bonus of <strong>{{ player.matched_estimator.grid_reward }}</strong></p>

<p>Your adviser earned a bonus of <strong>{{ player.matched_adviser.grid_reward }}</strong>.</p>
<p> 
{% if player.disclosure == True %} 
As you were informed,
{% else %}
Although your advisor did not inform you about this,
{% endif %}
your advisor knew, when providing advice to you, that he she would be paid more if you overestimated the number of solid dots in the grid.  These were the payoffs facing your advisor:  
</p>

{% include "./PaymentsTable.html" with answer=player.get_correct_answer role="adviser" %}
<p></p> Because you estimated that there were {{ player.get_estimate }} dots, and there were {{ player.get_correct_answer }} dots, your advisor earned a bonus of {{ player.matched_adviser.grid_reward }}.

<hr />

{% next_button %}

{% endblock %}