{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Your Payment</h3>


<p>Your adviser advised you that there were <strong>{{ player.get_recommendation }}</strong> solid dots.</p>

<p>
    You guessed that there were <strong>{{ player.get_estimate }}</strong> solid dots.
</p>
<p>
    The correct number was <strong>{{ player.get_correct_answer }}</strong>. The full grid is shown below:
</p>

<!-- Actual Grid -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="/static/{{ group.grid_path }}" />
        </div>
    </div>
</div>

<hr />


<p>As a result, you earned a bonus of <strong>{{ player.matched_estimator.grid_reward }}</strong></p>

<p>Your adviser earned a bonus of <strong>{{ player.matched_adviser.grid_reward }}</strong>.</p>
<hr>
<p> 
{% if player.disclosure == True %} 
As your advisor informed you,
{% else %}
Although your adviser did not inform you about this,
{% endif %}
your adviser knew, when providing advice to you, that he she would be paid more if you overestimated the number of solid dots in the grid. </p>

<p> These were the payoffs facing your adviser:  </p>

<p> Your advisor would be paid a $2.00 bonus if you provided an estimate that was more than 10 dots greater than the correct number.</p>

<p>Your advisor would be paid a $5.00 bonus if you provided an estimate that was more than 40 dots greater than the correct number</p> 

<p> Your advisor was shown the following diagram illustrating your payoffs: </p>
<div class="container-fluid">
    <div class="row">
      <div class="col text-center pb-4">
        <img style="width: 96%; height: 96%;" src="/static/study/estimator_adviser_payoff.png"/>
      </div>
    </div>
  </div>
<hr />

<p> Because you estimated that there were {{ player.get_estimate }} dots, and there were {{ player.get_correct_answer }} dots, your adviser earned a bonus of {{ player.matched_adviser.grid_reward }}.
</p>

{% next_button %}

{% endblock %}