{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Your Payment</h3>


<p>Your adviser advised you that there were <strong>{{ player.get_recommendation }}</strong> solid dots.</p>

<p>
    You guessed that there were <strong>{{ player.get_estimate }}</strong> solid dots.
</p>
<p>
    The correct number was <strong>{{ player.get_correct_answer }}</strong>. The full grid is shown below:
</p>

<!-- Actual Grid -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="/static/{{ group.grid_path }}" />
        </div>
    </div>
</div>

<hr />


<p>As a result, you earned a bonus of <strong>{{ player.matched_estimator.grid_reward }}</strong></p>

<p>Your adviser earned a bonus of <strong>{{ player.matched_adviser.grid_reward }}</strong>.</p>
<hr>
<p> 
{% if player.disclosure == True %} 
As you were informed,
{% else %}
Although your adviser did not inform you about this,
{% endif %}
your adviser knew, when providing advice to you, that he she would be paid more if you overestimated the number of solid dots in the grid.  These were the payoffs facing your adviser:  
</p>

<p> Your advisor was paid a bonus of $2.00 if you overestimated the number of solid dots by between 11 to 40.</p>

<p>Your advisor was paid a bonus of $5.00 if you overestimated the number of solid dots by 41 or more.</p> 

<p> Your advisor was shown the following diagram illustrating your payoffs: </p>
<div class="container-fluid">
    <div class="row">
      <div class="col text-center pb-4">
        <img src="/static/study/estimator_advisor_payoff.svg"/>
      </div>
    </div>
  </div>
<hr />

<p> Because you estimated that there were {{ player.get_estimate }} dots, and there were {{ player.get_correct_answer }} dots, your adviser earned a bonus of {{ player.matched_adviser.grid_reward }}.
</p>

{% next_button %}

{% endblock %}