{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
{% if player.role == 'adviser' %}
<p>Recall that you are the adviser.</p> 
<p>The judgment that the estimator will make is to estimate the number of solid (filled) dots in a 30x30 grid.</p>
<p>The number of solid dots can vary from 0-900. Below is an example that you might see.</p>
{% elif player.role == 'estimator' %}
<p>Recall that you are the estimator. </p> 
<p>The judgment that you will make is to estimate the number of solid (filled) dots in a 30x30 grid.</p>
<p>The number of solid dots can vary from 0-900. Below is an example that the adviser might see.</p>
{% elif player.role == 'judge' %}
<p> In another part of the study, participants were paired with one another. One person was assigned the role of estimator and the other to the role of adviser. They then engaged in a dots-estimation task. </p> 
<p>In this task, the estimator attempted to estimate the number of solid (filled) dots in a 30x30 grid.</p>    
<p>The number of solid dots can vary from 0-900. Below is an example that the adviser might see.</p>
{% endif %}


<!-- Full Sample Grid -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <img src="/static/{{ group.example_grid_path }}" />
    </div>
  </div>
</div>
<hr/>

{% if player.role == 'adviser' %}
<p>However, the estimator will only able to see a small 3x3 subset of the 30x30 grid along with advice the estimator will receive from you.</p>
{% elif player.role == 'estimator' %}
<p>However, you will only able to see a small 3x3 subset of the 30x30 grid along with advice you will receive from your adviser.</p>
{% elif player.role == 'judge' %}
<p>However, estimators were only able to see a small 3x3 subset of the 30x30 grid along with advice they received from an adviser.
</p>
{% endif %}


<p>Below is an example of the corresponding 3x3 grid that {% if player.role == 'estimator' %}you{% else %}the estimator{% endif %} might see.</p>
  
<!-- Sample Small Grid  -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-center pb-4">
      <img src="/static/{{ group.example_small_grid_path }}" />
    </div>
  </div>
</div>

{% if player.role == 'adviser' %}
<p>You will be shown the full grid and will be given the true number of solid dots in the grid. In the grid shown above, you would know that {{ group.example_grid_num_dots }} of the 900 dots were solid.</p>
{% elif player.role == 'estimator' %}
<p>Your adviser will be shown the full grid and will be given the true number of solid dots in the grid. In the grid shown above, the adviser would know that {{ group.example_grid_num_dots }} of the 900 dots were solid.</p>
{% elif player.role == 'judge' %}
<p>Advisers were shown the full grid and were given the true number of solid dots in the grid. In the grid shown above, the adviser would know that {{ group.example_grid_num_dots }} of the 900 dots were solid.</p>
{% endif %}


{% next_button %} 
{% endblock %}