{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduction
{% endblock %}

{% block content %}

<p> Thank you for participating in our survey!</p>

{% if player.role == 'judge' %}
<p> You will receive {{ Constants.base_reward }} base payment within 24 hours. </p>
{% else %}
<p> You will receive {{ Constants.base_reward }} base payment within 24 hours and any bonus payments that you earned within 5 business days. Bonus payments may be up to $7.00. </p>
{% endif %}

<!-- MTurk Id -->
{% formfields %}


{% next_button %}

{% endblock %}