{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

{% if player.role == 'adviser' %}
<p>    Recall that you are the adviser.    </p> 
<p>The judgment that the estimator will make is to estimate the number of solid (filled) dots in a 30x30 grid.</p>
<p>The number of solid dots can vary from 0-900. Below is an example.</p>

{% elif player.role == 'estimator' %}
<p>Recall that you are the estimator. </p> 
<p>
  The judgment that you will make is to estimate the number of solid (filled) dots in a 30x30 grid.
</p>
<p>The number of solid dots can vary from 0-900. Below is an example.</p>

{% elif player.role == 'judge' %}

<p>
  In another part of the study, participants were paired with one-another. One was assigned the role of estimator and the other to the role of adviser.  They then engaged in a dots-estimation task.   First, we will introduce to you the dots-estimation task. Then, we will provide you with information about an interaction between a particular adviser and estimator. Lastly, we will ask you to make a judgment about how to allocate bonuses based on the interaction between the adviser and estimator.
</p> along with the advice you receive from your adviser. Below is an example of the small grid that you will see along with sample advice.

 <p> In this study, estimators attempted to estimate the number of solid dots in a grid like the 30x30 grid shown below:  </p>

{% endif %}

<!-- Sample Grid -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <img src="/static/{{ group.example_grid_path }}" />
    </div>
  </div>
</div>


{% comment %} <td valign="middle" align="center">
  <img src="/static/{{ group.example_grid_path }}" width="50%" vspace="20" />
</td> {% endcomment %}


{% if player.role == 'adviser' %}
<p> The estimator will attempt to estimate the number of dots in that grid and will be rewarded based on how close his/her estimate is to the actual number of solid dots. However, the estimator will only be able to see a small 3x3 subset of the grid highlighted in yellow below
 along with your advice. Below is an example of the small grid that the estimator will see along with your advice. </p>

{% elif player.role == 'estimator' %}
<p>
  You will attempt to estimate the number of dots in that grid. However, you will
  only be able to see a small 3x3 subset of the grid highlighted in yellow below along with the advice you receive from your
  adviser. Below is an example.</p>

{% elif player.role == 'judge' %}

<p>
  However, estimators were only able to see a small 3x3 subset of the grid, such as the one highlighted in yellow below:
</p>

{% endif %}

{% comment %} Sample Small Grid {% endcomment %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center pb-4">
      <img src="/static/{{ group.example_small_grid_path }}" />
    </div>
  </div>
</div>

<hr />



{% if player.role == 'judge' %}

<p>Advisers were shown the full grid and told the true number of solid dots in the grid.  In the grid shown above, the adviser would know that {{ group.example_grid_num_dots }} of the 900 dots were solid. </p>

{% endif %}

{% next_button %} {% endblock %}