{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduction
{% endblock %}

{% block content %}

{% if player.role == 'advisor' %}
<p>Thank you for participating in this study. You will play the role of <strong>ADVISER</strong>. You have been paired
    with an "Estimator."</p>
{% elif player.role == 'estimator' %}
<p>Thank you for participating in this study. You will play the role of <strong>ESTIMATOR</strong>. You have been paired
    with an "Advisor."</p>
{% elif player.role == 'judge' %}
<p>Thank you for participating in this study. You will play the role of <strong>JUDGE</strong>. You have been paired
    with an "Advisor" and an "Estimator."</p>
{% endif %}


<br />
<br />

<!-- MTurk Id -->
{% for field in form %}
{% formfield field %}
{% endfor %}

{% next_button %}

{% endblock %}