{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<h3 style="margin: 1em 0 0.5em 0;">Estimator's Payment</h3>

<p><strong>Estimators were rewarded for the accuracy of their estimates of the correct number of solid dots in the 30x30 grid. </strong></p>
<p>Estimators received a {{ Constants.estimator_bonus_within_neg_10_and_10 }} bonus if their estimates were within 10 dots of the correct number (either higher or lower). </p>
<p>Estimators received a {{ Constants.estimator_bonus_within_10_and_40 }} bonus if their estimate was within 40 dots of the correct number (either higher or lower, but not within 10 dots). </p>
<p>Estimators received no bonus if their estimate was off by more than 40.</p>
<hr/>

<h3 style="margin: 1em 0 0.5em 0;">Adviser's Payment </h3>

<p><strong>Unbeknownst to estimators, advisers had different incentives:</strong></p>
<p><strong>Advisers received a bonus if the estimator provided an estimate that was greater than the correct value. Advisers received a bigger bonus the more the estimator overestimated the true number of solid dots.</strong></p>
<p>Advisers received a {{ Constants.adviser_bonus_within_10_and_40 }} bonus if the estimator provided an estimate that was more than 10 dots greater than the correct number. </p>
<p>Advisers received a {{ Constants.adviser_bonus_greater_than_40 }} bonus if the estimator provided an estimate that was more than 40 dots greater than the correct number. </p>
<p>Otherwise, advisers did not receive a bonus. </p>
<hr/>

<h3 style="margin-top: 1em;">Example </h3>

<div class="container-fluid">
  <div class="row">
    <div class="col text-center pb-4">
      <img style="width: 96%; height: 96%;" src="/static/study/estimator_adviser_payoff.png"   />
    </div>
  </div>
</div>
<hr/>

<p>To ensure that you understand the instructions, please answer the following questions: </p>
{% formfields %}

{% next_button %}

{% endblock %}