{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Estimator's Payment</h3>

<p>Estimators were paid based on their accuracy. </p> 
<p>If the estimator’s guess was within 10 of the correct answer, he or she would earn a bonus of $5.00. </p>

<p>For example, If the estimator’s guess was within 40 of the correct answer (but not within 10), he or she would earn a bonus of $2.00 </p>

<h3>Adviser's Payment </h3>

<p>Advisors had different incentives: Advisors were paid to the extent that estimators overestimated the true number of solid dots. </p> 
<p>For example, Advisors received a bonus of $2.00 if the estimator overestimated the true number of dots by 11-40. </p>
<p>For exampleAdvisors received a bonus of $5.00 if the estimator overestimated the true number of dots by more than 40.</p>

<br>

<p>Here is the most critical thing for you to know:</p>
<p>For some pairs, the estimators did not know that the advisors wanted them to overestimate the number of dots, and the advisors knew that estimators did not know.</p>
<p>For other pairs, along with the advice that they gave to estimators, advisors also informed estimators that the advisor would be paid more if they estimator overestimated the true number of solid dots.  The warning was as follows:</p> 


{% comment %} Manipulation Checks specific to Judges {% endcomment %}
{% comment %} Not letting player advance unless these are answered as True {% endcomment %}
<p>To ensure that you understand the instructions, please answer the following question:</p>
{% formfield player.manip_adv_judge_payment_question %}

{% formfield player.manip_est_judge_payment_question %}

{% formfield player.manip_judge_disclosure_question %}

<hr />
<hr />


{% next_button %}

{% endblock %}