{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3> Example</h3>

<p>Note that the advisers' payment scheme <strong>was{% if player.disclosure == False %} NOT{% endif %}
  disclosed</strong>
to the estimators on the communcation form. That is, estimators <strong>would
  {% if player.disclosure == False %}
  NOT
  {% endif %}
  know</strong> when making their estimates that advisers would be paid a bigger bonus the more estimators
overestimated the correct number of solid dots.
</p>

<p>An example of a communication form from an adviser to an estimator: </p>
{% comment %} Sample communication form goes here {% endcomment %}
<div align="center" style="border: thin solid black">
  {% include "./CommunicationFormTemplate.html" with player=player group=group type="example" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        {% comment %} <h1><strong>542</strong></h1> {% endcomment %}
        <h1><strong>---</strong></h1>
      </div>
    </div>
  </div>
</div>
<hr />

{% next_button %}

{% endblock %}