{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>The Case</h3>

<p>
    Now it is time for you, as the judge, to evaluate an interaction between a particular adviser and estimator.
</p>
<p>
    In this case, the adviser saw this 30x30 grid and learned that that correct number of solid dots in this grid was
    <strong>{{ player.get_correct_answer }}</strong>.
</p>

<!-- Actual Grid -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="/static/{{ group.grid_path }}" />
        </div>
    </div>
</div>

<hr />

<p>
    The adviser advised the estimator that the number of solid dots on the 30x30 grid was
    <strong>{{ player.get_recommendation }}</strong> and communicated this
    advice using the communication form below:
</p>


<div align="center" style="border: thin solid black">
    {% include "./CommunicationFormTemplate.html" with player=player group=group disclosure=False  type="actual"%}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <h1><strong>{{ player.get_recommendation }}</strong></h1>
            </div>
        </div>
    </div>
    {% if player.disclosure == True %}

            <p><strong>Important Disclosure: </strong>I, your adviser, will get a bonus if you <i> overestimate </i>the true number of solid dots. </p>

            <p>So, it is in my interest that you estimate a high number of dots. </p> 

    {% endif %}
</div>

<br>
<font color="red"> 
<p>Here is the most critical thing for you to know:</p>
{% if player.disclosure == True %}
<p>Note that, on the communication form, the adviser <strong>disclosed</strong> to the estimator that the adviser would be paid more if the estimator overestimated the true number of solid dots. So, the estimator <strong>DID know</strong> when making his or her estimates that the adviser would be paid a bonus if the estimator overestimated the correct number of dots.</p>
{% else %}
<p>Note that, on the communication form, the adviser <strong>did NOT disclose</strong> to the estimator that the adviser would be paid more if the estimator overestimated the true number of solid dots. So, the estimator <strong>did NOT know</strong> when making his or her estimates that the adviser would be paid a bonus if the estimator overestimated the correct number of dots.</p>
{% endif %}
</font>
<br/>
<hr/>

<p>The estimator attempted to estimate the number of solid dots in the 30x30 grid. The estimator knew that the number of dots could vary from 0 – 900, but they were only able to see the small 3x3 subset of the grid highlighted in yellow along with the advice that the adviser provided on the communication form above.</p>

<p>Based on the small grid they saw and the adviser’s recommendation, the estimator provided an estimate of <strong style="font-size: large;">{{ player.get_estimate }}</strong>. </p>

<p> This estimate is {{ player.number_off }} above the true number, {{ player.group.correct_answer }}. Remember, the adviser knew the true number was {{ player.group.correct_answer }}.</p> 

<p>
  As a result, the adviser earned a bonus of <strong>{{ player.matched_adviser.grid_reward }}</strong>, and the
  estimator earned
  <strong>{{ player.matched_estimator.grid_reward }}</strong>.
</p>
<br>

<h4>{{ header }}</h4>

{% formfield player.manip_final_estimator_payment_question label="In the case, the estimator would get a bigger bonus the more accurate his/her estimate was." %}
{% formfield player.manip_final_adviser_payment_question label="In the case, the adviser would get a bigger bonus the more the estimator underestimated the true number of solid dots." %}
{% if player.disclosure == True %}
    {% formfield player.manip_final_conflict_disclosed_or_not label="In the case, the adviser did disclose their payment scheme to the estimator in the online communication form." %}
{% else %}
    {% formfield player.manip_final_conflict_disclosed_or_not label="In the case, the adviser did NOT disclose their payment scheme to the estimator in the online communication form." %}
{% endif %}

{% next_button %}

{% endblock %}