{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>The Case</h3>

<p>
    Now it is time for you, as the judge, to evaluate an interaction between a particular adviser and estimator.
</p>
<p>
    In this case, the adviser saw this 30x30 grid and learned that that correct number of solid dots in this grid was
    <strong>{{ player.get_correct_answer }}</strong>.
</p>

<!-- Actual Grid -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="/static/{{ group.grid_path }}" />
        </div>
    </div>
</div>

<hr />

<p>
    The adviser advised the estimator that the number of solid dots on the 30x30 grid was
    <strong>{{ player.get_recommendation }}</strong> and communicated this
    advice using the communication form below:
</p>

<div align="center" style="border: thin solid black">
    {% include "./CommunicationFormTemplate.html" with player=player group=group disclosure=False  type="actual"%}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <h1><strong>{{ player.get_recommendation }}</strong></h1>
            </div>
        </div>
    </div>
</div>


<br>

{% if player.disclosure == False %}
<p> In the case of this pair, the adviser <strong>  did NOT disclose </strong> their payment scheme to the estimator on the online communication form. That is, the estimator <strong> did NOT know</strong> when making his or her estimates that the adviser would be paid a bonus if the estimator overestimated the correct number of dots. </p>
{% else %}
<p> In the case of this pair, the adviser <strong>  did disclose </strong> their payment scheme to the estimator on the online communication form. That is, the estimator <strong> knew </strong> when making his or her estimates that the adviser would be paid a bonus if the estimator overestimated the correct number of dots. </p> 
{% endif %}
<br>

<hr />
<br>

<p>The estimator attempted to estimate the number of solid dots in the 30x30 grid. The estimator knew that the number of dots could vary from 0 – 900, but they were only able to see the small 3x3 subset of the grid highlighted in yellow along with the advice that the adviser provided on the communication form above.</p>

<p>Based on the small grid they saw and the adviser’s recommendation, the estimator provided an estimate of <strong
        style="font-size: large;">{{ player.get_estimate }}</strong>. </p>

<p> This estimate is {{ player.number_off }} above the true number, {{ player.group.correct_answer }}, that the adviser knew. </p> 


<p>
    As a result, the adviser earned a bonus of <strong>{{ player.matched_adviser.grid_reward }}</strong>, and the
    estimator earned
    <strong>{{ player.matched_estimator.grid_reward }}</strong>.

</p>


<h4>{{ header }}</h4>

{% formfield player.manip_final_adviser_payment_question label="In the case, the adviser would get a bigger bonus the more the estimator overestimated the true number of solid dots." %}
{% formfield player.manip_final_estimator_payment_question label="In the case, the estimator would get a bigger bonus the more accurate his or her estimate was." %}
{% if player.disclosure == True %}
    {% formfield player.manip_final_conflict_disclosed_or_not label="In the case, the adviser did disclose their payment scheme to the estimator in the online communication form." %}
{% else %}
    {% formfield player.manip_final_conflict_disclosed_or_not label="In the case, the adviser did NOT disclose their payhment scheme to the estimator in the online communication form." %}
{% endif %}

{% next_button %}

{% endblock %}