{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3> Communication Form (Example)</h3>

<p>
  Advisers gave advice to estimators, in the form: 
</p>

<div align="center" style="border: thin solid black">
  {% include "./CommunicationFormTemplate.html" with player=player group=group disclosure=False type="example" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        {% comment %} <h1><strong>542</strong></h1> {% endcomment %}
        <h1><strong>---</strong></h1>
      </div>
    </div>
  </div>
  {% if player.disclosure == True %}

            <p><strong>Important Disclosure: </strong>I, your adviser, will get a bonus if you <i> overestimate </i>the true number of solid dots. </p>

            <p>So, it is in my interest that you estimate a high number of dots. </p> 

  {% endif %}
</div>
<hr />

<p>
  where "---" is the number the adviser specified.  Estimators received this advice before they made their estimate.
</p>


{% next_button %}

{% endblock %}