{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Estimator's Payment</h3>

<p>
  The dots estimation task had the following compensation scheme:</p>
<p>
  Estimators will get bigger bonuses the more accurate their estimates are.
</p>

<p>For example, suppose the correct number of solid dots were <strong>450</strong>, the estimators' compensation scheme
  was shown as follows:</p>
{% include "./PaymentsTable.html" with answer=450 role='estimator' %}
<hr />

<hr />

<h3>Advisor's Payment </h3>

<p>
  Advisers will get bigger bonuses the more estimators overestimated the true number of solid dots.
</p>

<p>For example, suppose the correct number of solid dots were <strong>450</strong>, the advisers' compensation scheme
  was shown as follows:</p>

{% include "./PaymentsTable.html" with answer=450 role=player.role %}

<hr />

<p>Advisers gave advice using an online communication form, like the one shown below.</p>


{% comment %} Manipulation Checks specific to Judges {% endcomment %}
{% comment %} Not letting player advance unless these are answered as True {% endcomment %}
<p>To ensure that you understand the instructions, please answer the following question:</p>
{% formfield player.manip_adv_judge_payment_question %}

<p>To ensure that you understand the instructions, please answer the following question:</p>
{% formfield player.manip_est_judge_payment_question %}

<hr />

{% next_button %}

{% endblock %}