{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}


<p>
    Recall that the dots-estimation task had the following compensation scheme:
</p>

<!--New Payoffs - Both Advisor and Estimator-->
<table style="width: 100%; border-color: #686868;">
    <tr>
        <th style="text-align:center;">If the estimator guesses...</th>
        <th style="text-align:center;">the estimator will be paid a bonus of...</th>
        <th style="text-align:center;">you, the advisor, will be paid a bonus of...</th>
    </tr>
    <tr>
        <!--(Less than -40)-->
        <th>Less than {{ correct_answer_minus40 }}</th>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
    </tr>
    <tr>
        <!--(Within -40 and -31)-->
        <th>{{ correct_answer_minus40 }}-{{ correct_answer_minus30 }}</th>
        <td style="background-color: #B1D677; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_neg_40_and_31 }}</b></td>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
    </tr>

    <tr>
        <!--(Within -30 and -21)-->
        <th>{{ correct_answer_minus30 }}-{{ correct_answer_minus20 }}</th>
        <td style="background-color: #93C94D; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_neg_30_and_21 }}</b></td>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
    </tr>

    <tr>
        <!--(Within -20 and -11)-->
        <th>{{ correct_answer_minus20 }}-{{ correct_answer_minus10 }}</th>
        <td style="background-color: #7CB72B; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_neg_20_and_11 }}</b></td>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
    </tr>

    <tr>
        <!--(Within -10 and -1)-->
        <th>{{ correct_answer_minus10 }}-{{ player.get_correct_answer }}</th>
        <td style="background-color: #6AA629; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_neg_10_and_1 }}</b></td>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
    </tr>

    <tr>
        <!--(Within 0 and +10)-->
        <th>{{ player.get_correct_answer }}-{{ correct_answer_plus10 }}</th>
        <td style="background-color: #6AA629; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_0_and_10 }}</b></td>
        <td style="background-color: #CBE4A4; text-align:center; border-color: #686868;">
            <b>{{ Constants.advisor_bonus_within_0_and_10 }}</b></td>
    </tr>

    <tr>
        <!--(Within +11 and +20)-->
        <th>{{ correct_answer_plus10 }}-{{ correct_answer_plus20 }}</th>
        <td style="background-color: #7CB72B; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_11_and_21 }}</b></td>
        <td style="background-color: #B1D677; text-align:center; border-color: #686868;">
            <b>{{ Constants.advisor_bonus_within_11_and_21 }}</b></td>
    </tr>

    <tr>
        <!--(Within +21 and +30)-->
        <th>{{ correct_answer_plus20 }}-{{ correct_answer_plus30 }}</th>
        <td style="background-color: #93C94D; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_21_and_30 }}</b></td>
        <td style="background-color: #93C94D; text-align:center; border-color: #686868;">
            <b>{{ Constants.advisor_bonus_within_21_and_30 }}</b></td>
    </tr>

    <tr>
        <!--(Within +31 and +40)-->
        <th>{{ correct_answer_plus30 }}-{{ correct_answer_plus40 }}</th>
        <td style="background-color: #B1D677; text-align:center; border-color: #686868;">
            <b>{{ Constants.estimator_bonus_within_31_and_40 }}</b></td>
        <td style="background-color: #7CB72B; text-align:center; border-color: #686868;">
            <b>{{ Constants.advisor_bonus_within_31_and_40 }}</b></td>
    </tr>

    <tr>
        <!--(Greater than +40)-->
        <th>Greater than {{ correct_answer_plus10 }}</th>
        <td style="background-color: #EDEDED; text-align:center; border-color: #686868;">Nothing</td>
        <td style="background-color: #6AA629; text-align:center; border-color: #686868;">
            <b>{{ Constants.advisor_bonus_greater_than_40 }}</b></td>
    </tr>


</table><br/>

<p>
    Recall the correct number of dots: <strong>{{ player.get_correct_answer }}</strong>.
</p>

<p>
    Recall that the advisor told the estimator there were <strong>{{ player.get_recommendation }}</strong> solid dots
    and the estimator was {% if player.disclosure == False %}<strong>not</strong>{% endif %} informed that the advisor
    stood to benefit financially if she overestimated.
</p>
<p>
    Recall also that the estimator estimated there were <strong>{{ player.get_estimate }}</strong>. As a result, the
    advisor earned a bonus of {{ advisor_reward }} and the estimator earned a bonus of {{ estimator_reward }}.
</p>
<p>
    On the next page, you will be asked to make a judgement about whether the estimator was treated fairly.
</p>


{% next_button %}

{% endblock %}
