{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<h3>Estimator's Payment</h3>


<p> Estimators would get bigger bonuses the more accurate their estimates were.</p>

<p> <strong> Estimators could earn money if their estimate was close to the correct answer. 
  For example, if the estimator’s guess was within 10 of the correct answer, he or she would earn $5.00. </strong> </p>

<br>
<h3>Adviser's Payment </h3>

<p> Advisers could earn money if the estimator’s guess was too high. 
  For example, if the estimator’s guess was 40 or more over the correct answer, the adviser would earn $5.00. Advisers would get bigger bonuses the more estimators overestimated the number of solid dots.</p>

<hr />
<br>

{% comment %} Manipulation Checks specific to Judges {% endcomment %}
{% comment %} Not letting player advance unless these are answered as True {% endcomment %}
<p>To ensure that you understand the instructions, please answer the following question:</p>
{% formfield player.manip_adv_judge_payment_question %}

{% formfield player.manip_est_judge_payment_question %}

<hr />
<hr />


{% next_button %}

{% endblock %}